body {
  margin: 0;
  font-family: 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
}

h2 {
  font-family: 'Barlow Condensed', sans-serif;
}

h3 {
  font-family: 'Barlow Condensed', sans-serif;
}

h4 {
  font-family: 'Barlow Condensed', sans-serif;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
}